a,h1{
    color:green;
}
.box{
    display: flex;
}
header{
    flex-direction: column;
}
footer{
    flex-direction: column;
}
body{
    flex-direction: column;
}
main{
    flex-direction: column;
    flex:auto;
}
aside{
    flex: 1;
}
article{
    flex: 3;
}
.left, .right {

    flex: 0 0 12em;
}

.left {
    order: -1;
}
