a,h1{
  color:green;
}
.box{
    display: flex;
}
.box.header{
    flex-wrap: nowrap ;
}
.box .main{

    flex: auto
}
.box .footer{
    flex-direction:  column;
}
.box .article{
    flex-direction: row ;
    flex: 3;
}
.box .aside{
    justify-content:  space-between;
    flex: 1;
}
